@page
@model VoucherModel

@{
    ViewData["Title"] = "JLPT Voucher";
}
<h1>@ViewData["Title"]</h1>

<form asp-page-handler="PopulateUserData" method="post">
   
   <button type="submit" class="btn btn-primary" style="display: none" >Populate User Data</button>
</form>
<div>
    Max Items: <input type="number" name="MaxItems" />
</div>
<div>Selected : @Model.SelectedUserIds?.Count</div>
<form asp-page-handler="SendEmail" method="post">

    <table class="table table-striped">
        <thead>
            <tr>
                <th><input type="checkbox" value="Check All" name="checkAll" onclick="SelectAll()"/></th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>TestLevel</th>
                 <th>SequenceNumber</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var usr in Model.Users)
                {
                                <tr>
                                  <td><input type="checkbox" name="SelectedUserIds" value="@usr.Id" /></td>
                                   <td>@usr.FirstName</td>
                                    <td>@usr.LastName</td>
                                     <td>@usr.TestLevel</td>
                                     <td>@usr.SequenceNumber</td>
                                </tr>
                   
                }
            }
        </tbody>
    </table>
   
   <button type="submit" class="btn btn-primary" >Send Email</button>
</form>

<script>
    function SelectAll(){
        var els = document.getElementsByName("SelectedUserIds");
        els.forEach(el => {
            el.checked = !el.checked;
        })
    }

</script>