@page
@model VoucherModel

@{
    ViewData["Title"] = "JLPT Voucher";
}
<h1>@ViewData["Title"]</h1>


<form asp-page-handler="PopulateUserData" method="get">
   
   <div style="float:right">
      Max Items <input type="number" id="maxItems"  name="MaxItems" asp-for="@Model.MaxItems" />
      <input type="submit" value="Refresh" class="btn button-success" />
   </div>

</form>

<form  method="post">
   
    <table class="table table-striped">
        <thead>
            <tr>
                <th><input type="checkbox" value="Check All" name="checkAll" onclick="SelectAll()"/></th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>TestLevel</th>
                 <th>SequenceNumber</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var usr in Model.Users)
                {
                                <tr>
                                  <td><input type="checkbox" name="SelectedUserIds" value="@usr.Id" /></td>
                                   <td>@usr.FirstName</td>
                                    <td>@usr.LastName</td>
                                     <td>@usr.TestLevel</td>
                                     <td>@usr.SequenceNumber</td>
                                </tr>
                   
                }
            }
        </tbody>
    </table>
   
   <button type="submit" class="btn btn-primary" asp-page-handler="SendEmail">Send Email</button>
   <button type="submit" class="btn btn-warning" asp-page-handler="SendTestEmail">Send Test Email</button>
</form>

<script>
    function SelectAll(){
        var els = document.getElementsByName("SelectedUserIds");
        els.forEach(el => {
            el.checked = !el.checked;
        })
    }

</script>